@model IEnumerable<TimeTracker.Core.Role>

@{
    ViewBag.Title = "Index";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Add Role", "Add")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Default Hourly Rate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="min-width:100px;">
            @item.Name
        </td>
        <td>
            @item.Description
        </td>
        <td style="width:120px;">
            @String.Format("{0:F}", item.DefaultHourlyRate)
        </td>
        <td style="width:35px;">
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>

